.site-layout .site-layout-background {
    background: #fff;
    min-height: 85vh !important;
}

.active {
    color: #fcfcfc;
    background-color: #1890ff;

}

.nav-link {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
}

.active:hover {
    color: #fcfcfc;
}